@import url('https://rsms.me/inter/inter.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  letter-spacing: -0.011em;
  line-height: 22px;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif;
  }
}

h2 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.021em;
  line-height: 42px;
  margin: 0;
}

p {
  margin: 0;
  color: #777;
}

* {
  box-sizing: border-box;
}
